.contacts {
	&__wrapper {
		&-main {
			overflow: hidden;
		}
	}
	&__container {
		border: 1px solid var(--orange-color);
		border-radius: 10px;
		background: var(--grey-color);
		padding: 50px;
		padding-bottom: 25px;
		&-pagination {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-controls {
			position: relative;
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 0 30px;
			width: fit-content;
		}
		&-sliders {
			position: relative;
		}
		&-slider {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: opacity 0.6s ease, visibility 0.6s ease;
			&-visible {
				position: relative;
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
		&-thumbs {
			&-1c {
				position: relative;
				display: flex;
				align-items: center;
				gap: 30px;
				margin: 0;
				max-width: 340px;
			}
			&-bitrix {
				position: relative;
				display: flex;
				align-items: center;
				gap: 30px;
				margin: 0;
				max-width: 340px;
			}
		}
		&-count {
			padding: 5px 10px;
			font-family: "Inter";
			font-size: 18px;
			line-height: 22px;
			border: 1px solid #00000040;
			border-radius: 6px;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		column-gap: 10px;
		padding: 10px 20px 8px 15px;
		&:not(:last-child) {
			border-bottom: 1px solid var(--orange-color);
		}
	}
	&__heading {
		display: flex;
		align-items: center;
		column-gap: 8px;
		padding: 10px 20px 8px 15px;
		border-bottom: 1px solid var(--orange-color);
	}
	&__name {
		max-width: 393px;
		width: 100%;
		&-heading {
			text-align: center;
		}
	}
	&__phone {
		max-width: 244px;
		width: 100%;
		text-align: center;
	}
	&__deals {
		max-width: 293px;
		width: 100%;
		text-align: center;
	}
	&__list {
		margin-bottom: 25px;
	}
	&__pagination {
		bottom: 0 !important;
	}
	&__bullet {
		background: transparent;
		font-size: 22px;
		font-weight: 400;
		line-height: 27px;
		min-width: 40px;
		height: fit-content !important;
		opacity: 1;
		text-align: center;
		margin: 0 !important;
		&-active {
			font-weight: 500;
			color: var(--orange-color);
		}
	}
	&__button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		&-next {
			transform: rotate(180deg) translateY(50%);
			right: 0;
		}
		&-prev {
			left: 0;
		}
	}
	&__value {
		margin-left: 8px;
	}
}
