<section class="contacts">
	<div class="container">
		<div class="contacts__container">
			<h2 class="title title__h2 contacts__title">
				Контакты, которые есть в <span class="contacts__label-1с">1С</span>, но нет в
				<span class="contacts__label-bitrix">Б24</span>
			</h2>
			<div class="contacts__wrapper-main">
				<div class="contacts__container-sliders">
					<div
						class="contacts__container-slider contacts__container-slider-visible contacts__container-slider-1c swiper"
					>
						<div class="contacts__heading title title__h4">
							<span class="contacts__name contacts__name-heading">ФИО</span>
							<span class="contacts__phone contacts__phone-heading">Телефон</span>
							<span class="contacts__deals contacts__deals-heading">Кол-во успешных сделок</span>
						</div>
						<div class="contacts__list contacts__list-1c swiper-wrapper"></div>
						<div class="contacts__container-pagination">
							<div class="contacts__container-count">
								Всего контактов: <span class="contacts__value contacts__value-1c"></span>
							</div>
							<div class="contacts__container-controls">
								<button
									class="btn-reset contacts__button contacts__button-prev contacts__button-prev-1c"
								>
									<img
										loading="lazy"
										src="./img/left-arrow.svg"
										class="image contacts__icon-arrow-left"
										width="10"
										height="18"
										alt="Стрелка влево"
									/>
								</button>
								<div class="swiper swiper-thumbs-1c contacts__container-thumbs-1c">
									<div class="swiper-wrapper contacts__pagination contacts__pagination-1c"></div>
								</div>
								<button
									class="btn-reset contacts__button contacts__button-next contacts__button-next-1c"
								>
									<img
										loading="lazy"
										src="./img/left-arrow.svg"
										class="image contacts__icon-arrow-left"
										width="10"
										height="18"
										alt="Стрелка влево"
									/>
								</button>
							</div>
						</div>
					</div>
					<div class="contacts__container-slider contacts__container-slider-bitrix swiper">
						<div class="contacts__heading title title__h4">
							<span class="contacts__name contacts__name-heading">ФИО</span>
							<span class="contacts__phone contacts__phone-heading">Телефон</span>
							<span class="contacts__deals contacts__deals-heading">Кол-во успешных сделок</span>
						</div>
						<div class="contacts__list contacts__list-bitrix swiper-wrapper"></div>
						<div class="contacts__container-pagination">
							<div class="contacts__container-count">
								Всего контактов: <span class="contacts__value contacts__value-bitrix"></span>
							</div>
							<div class="contacts__container-controls">
								<button
									class="btn-reset contacts__button contacts__button-prev contacts__button-prev-bitrix"
								>
									<img
										loading="lazy"
										src="./img/left-arrow.svg"
										class="image contacts__icon-arrow-left"
										width="10"
										height="18"
										alt="Стрелка влево"
									/>
								</button>
								<div class="swiper swiper-thumbs-bitrix contacts__container-thumbs-bitrix">
									<div class="swiper-wrapper contacts__pagination contacts__pagination-bitrix"></div>
								</div>
								<button
									class="btn-reset contacts__button contacts__button-next contacts__button-next-bitrix"
								>
									<img
										loading="lazy"
										src="./img/left-arrow.svg"
										class="image contacts__icon-arrow-left"
										width="10"
										height="18"
										alt="Стрелка влево"
									/>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
