<section class="hero">
	<div class="container">
		<div class="hero__container">
			<div class="hero__column">
				<h2 class="title title__h2 hero__title">Конверсия лидов</h2>
				<ul class="list-reset hero__list"></ul>
			</div>
			<div class="hero__column hero__column-graph">
				<div class="hero__container-switch">
					<label class="switch">
						<input type="checkbox" id="switch-input" />
						<span class="slider round">
							<span class="switch__text title__h4">1С</span>
							<span class="switch__text title__h4">Б24</span>
						</span>
					</label>
				</div>
				<div class="hero__container-graph">
					<canvas id="myChart" width="400" height="400"></canvas>
					<div class="hero__container-tooltip">
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
