<section class="history">
	<div class="container">
		<div class="history__container">
			<div class="history__container-title">
				<h2 class="title title__h2 history__title">История аналитики</h2>
				<button class="btn-reset history__button-back">Вернуться</button>
			</div>
			<div class="history__heading">
				<span class="history__cell history__period history__period-heading">Период</span>
				<span class="history__cell history__name history__name-heading">Название файла</span>
				<span class="history__cell history__date history__date-heading">Дата загрузки</span>
				<span class="history__cell history__buttons history__buttons-heading"></span>
			</div>
			<div class="history__list"></div>
			<div class="contacts__container-count history__container-count">
				Всего контактов: <span class="contacts__value history__value"></span>
			</div>
		</div>
	</div>
</section>
