<section class="stats">
	<div class="container stats__container">
		<div class="stats__block stats__block-contacts">
			<div class="stats__container-flex">
				<h3 class="title title__h3 stats__title">Конверсия лидов</h3>
				<ul class="list-reset stats__list">
					<li class="stats__item stats__item-conversy">
						<div class="stats__container-icon-text">
							<svg class="stats__icon-ellipse stats__icon-ellipse-transparent">
								<use xlink:href="img/sprite.svg#ellipse"></use>
							</svg>
							<span class="stats__text stats__text-label title__h4">Без приема</span>
						</div>
						<span class="stats__text stats__text-persent stats__text-persent-empty title__h4"></span>
						<span class="stats__text stats__text-count stats__text-count-empty title__h4"></span>
					</li>
					<li class="stats__item stats__item-conversy">
						<div class="stats__container-icon-text">
							<svg class="stats__icon-ellipse stats__icon-ellipse-static-orange">
								<use xlink:href="img/sprite.svg#ellipse"></use>
							</svg>
							<span class="stats__text stats__text-label title__h4">Приемы - 1С</span>
						</div>
						<span class="stats__text stats__text-persent stats__text-persent-1c title__h4"></span>
						<span class="stats__text stats__text-count stats__text-count-1c title__h4"></span>
					</li>
					<li class="stats__item stats__item-conversy">
						<div class="stats__container-icon-text">
							<svg class="stats__icon-ellipse stats__icon-ellipse-static-blue">
								<use xlink:href="img/sprite.svg#empty-ellipse"></use>
							</svg>
							<span class="stats__text stats__text-label title__h4">Приемы - Б24</span>
						</div>
						<span class="stats__text stats__text-persent stats__text-persent-b24 title__h4"></span>
						<span class="stats__text stats__text-count stats__text-count-b24 title__h4"></span>
					</li>
				</ul>
			</div>
			<div class="stats__container-canvas-round">
				<canvas
					id="statsRadialConversy"
					class="stats__canvas-bar stats__canvas-bar-1c stats__canvas-bar-visible"
					width="150"
					height="150"
				></canvas>
				<div class="hero__container-tooltip stats__container-tooltip">
					<div></div>
				</div>
			</div>
		</div>
		<div class="stats__block stats__block-cases">
			<div class="stats__container-flex stats__block-cases-flex">
				<h3 class="title title__h3 stats__title">Общая сумма сделок</h3>
				<ul class="list-reset stats__list">
					<li class="stats__item">
						<div class="stats__container-icon-text stats__container-icon-text-static">
							<svg class="stats__icon-ellipse stats__icon-ellipse-static-orange">
								<use xlink:href="img/sprite.svg#ellipse"></use>
							</svg>
							<span class="stats__text stats__text-label title__h4">1C</span>
						</div>
						<span class="stats__text stats__text-persent stats__text-persentage-static-1c title__h4"></span>
						<span class="stats__text stats__text-count stats__text-static-1c title__h4"></span>
					</li>
					<li class="stats__item">
						<div class="stats__container-icon-text stats__container-icon-text-static">
							<svg class="stats__icon-ellipse stats__icon-ellipse-static-blue">
								<use xlink:href="img/sprite.svg#ellipse"></use>
							</svg>
							<span class="stats__text stats__text-label title__h4">Б24</span>
						</div>
						<span
							class="stats__text stats__text-persent stats__text-persentage-static-bitrix title__h4"
						></span>
						<span class="stats__text stats__text-count stats__text-static-bitrix title__h4"></span>
					</li>
				</ul>
			</div>
			<div class="stats__container-canvas-radial">
				<canvas id="statsRadialChart" class="" width="150" height="150"></canvas>
				<div class="hero__container-tooltip stats__container-tooltip">
					<div></div>
				</div>
			</div>
		</div>
		<div class="stats__block stats__block-buttons-container">
			<div class="stats__block-buttons stats__block-buttons-visible">
				<button class="stats__button stats__button-download btn-reset" id="fileInputButton">Загрузить</button>
				<button class="stats__button stats__button-generate btn-reset stats__button-generate-1c blocked">
					Сформировать
				</button>
				<button class="stats__button stats__button-history btn-reset stats__button-history-show">
					История
				</button>
			</div>
			<div class="stats__block-buttons">
				<input
					class="stats__button stats__button-download btn-reset"
					type="date"
					id="firstDateInputB24"
					name="firstDateInputB24"
					placeholder="Начальная дата"
				/>
				<input
					class="stats__button stats__button-generate btn-reset"
					type="date"
					id="endDateInputB24"
					name="endDateInputB24"
					placeholder="Конечная дата"
				/>
				<button class="stats__button stats__button-history btn-reset stats__button-generate-bitrix blocked">
					Сформировать
				</button>
			</div>
			<input class="visually-hidden" type="file" name="fileInput" id="fileInput" />
		</div>
	</div>
</section>
